@{
    ViewData["Title"] = "Hakkımızda";
}

<h1>@ViewData["Title"]</h1>
<div class="container mb-4">
    <p>
        1998 yılından beri oyunculara ve eSporculara hizmet veren RefCafe, konum olarak Avrupa yakasının en işlek yerlerinden Beşiktaş’ta Barbaros Bulvarı üzerinde bulunuyor. RefCafe, geçen 19 yılda düzenlediği turnuvalar ve etkinliklerle İstanbul’un ötesine ulaşarak Türkiye’de oyuncuların gitmek istediği, diğer internet kafelerin ise örnek aldığı noktada gelişerek yoluna devam ediyor. Özellikle sürekli yenilenen bilgisayar sistemleriyle, müşterilerine en güncel oyunları dahi yüksek performansta oynatma imkanı sunan RefCafe, müşteri memnuniyetini öncelikli tutarak, uzman kadrosu ile teknoloji severlerin en uğrak noktalarından biri olmayı başarmıştır.

        Oyun, donanım ve ekipman firmaları ile birlikte düzenlediğimiz turnuva, altyapı ve pazarlama çalışmalarını her geçen yıl iyileştirerek Türkiye’de oyun sektörünün vazgeçilmez isimlerinden biri haline geldik. 2 katlı, 150 bilgisayarlı ve zengin yemek menüsüyle Beşiktaş’ın vazgeçilmez mekanlarından biri haline gelen RefCafe, müşteri portföyü ve popülerliği bir arada tutmayı başararak oyunculara sunduğu hizmetlere yenilerini eklemeye devam etmektedir.
    </p>
    <p>
        2023 itibariyle ise sadece belirli bir noktada insanlara teknolojiyi sunmak yerine artık tüm ülkeye teknolojiyi yaymayı amaçlamıştır. Kiralama hizmetiyle birlikte artık oyunseverlerin ve teknoloji aşıklarının evlerine teknolojiyi götürmeyi amaçlamıştır.
    </p>
</div>